<h1 style="text-align:center;color: green;">Template Driven Forms with validation</h1>
<p style="text-align:center;color:tomato">{{msg}}</p>
<form #ContactForm="ngForm" (ngSubmit)="onSubmit(ContactForm)" class="form-control w-50 mx-auto">

  <div class="form-group container">
    <label for="firstName">First Name:</label>
    <input required minlength="3" maxlength="10" ngModel name="firstName" type="text" #firstName="ngModel" class="form-control" id="firstName">
    <div class="alert alert-danger" *ngIf="firstName.touched && !firstName.value">
      <div *ngIf="firstName.errors && firstName.errors['required']">First Name is required</div>
      <div *ngIf="firstName.errors && firstName.errors['minlength']">Minimum {{firstName.errors['minlength'].requiredLength}} characters required</div>
      <div *ngIf="firstName.errors && firstName.errors['maxlength']">Maximum 10 characters allowed</div>
    </div>
  </div>

  <div class="form-group container">
    <label for="lastName">Last Name:</label>
    <input required minlength="3" maxlength="10" ngModel name="lastName" type="text" #lastName="ngModel" class="form-control" id="lastName">
    <div class="alert alert-danger" *ngIf="lastName.touched && !lastName.value">Last Name is required</div>
  </div>

  <div class="form-group container">
    <label for="comment">Comment:</label>
    <input required minlength="3" maxlength="10" ngModel name="comment" type="text" #comment="ngModel" class="form-control" id="comment">
    <div class="alert alert-danger" *ngIf="comment.touched && !comment.value">Comment is required</div>
  </div>

  <button class="btn btn-primary mx-auto m-4 text-center" type="submit" [class.disabled]="!ContactForm.valid">Submit</button>
</form>